.button-container {
    border: 2px solid red;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 38px;
    cursor: pointer;
    transition: color .3s ease-out, background-color .3s ease-out, transform .3s ease-out;
}

.button-container:active {
    background-color: red;
    color: #FFF;
    transform: scale(1.2);
}