
body {
    background-color: black;
    background-image: url('./assets/backgroundImg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: -40px;
}