body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.notistack-SnackbarContainer {
  z-index: 99999 !important;
}

.chakra-select__positioner {
  z-index: 999999 !important;
}