body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.notistack-SnackbarContainer {
  z-index: 99999 !important;
}

.chakra-select__positioner {
  z-index: 999999 !important;
}

.awssld__content {
  background-color: transparent !important;
}

.awssld {
  width: 50% !important;
}

.awssld__bullets button.awssld__bullets--active {
  background-color: hsl(339, 97%, 48%) !important;
}

.awssld__bullets button {
  background-color: hsl(339, 97%, 48%) !important;
  width: 0.75rem;
  height: 0.75rem;
}

.awssld__next, .awssld__prev {
  opacity: 0;
  cursor: default !important;
}